{% extends 'base.html.twig' %} {% block title %}Log in!{% endblock %} {% block
body %}
<form method="post" class="login-form">
  <p class="login-text">Zaloguj się do<br />brzoskwinki</p>
  <label for="inputLogin" class="login-label">Login</label>
  <input
    placeholder="Wprowadź login"
    type="text"
    value="{{ last_username }}"
    name="login"
    id="inputLogin"
    class="form-control login-input"
    required
    autofocus
  />
  <label for="inputPassword" class="login-label">Hasło</label>
  <input
    type="password"
    placeholder="Wprowadź hasło"
    name="password"
    id="inputPassword"
    class="form-control login-input"
    required
  />

  <input
    type="hidden"
    name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
  />

  <button class="btn btn-lg btn-primary login-button" type="submit">Zaloguj się</button>
</form>
{% endblock %}
