.footer {
  background-color: #333;
  color: #fff;
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: $main;
  font-weight: 600;
  height: 68px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.footer-filler {
  height: 68px;
  width: 100%;
}
.footer-left {
  width: 50%;
  display: flex;
}
.footer-right {
  width: 25%;
  text-align: center;
}
.footer-column {
  width: 50%;
  text-align: center;
}
.footer-link {
  color: $main;
  text-decoration: none;
  padding: 5px;
}
@media only screen and (max-width: 1023px) {
  .footer {
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
  }
  .footer-filler {
    height: 100px;
  }
  .footer-left,
  .footer-right {
    width: 100%;
  }
}

